<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid" alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <h2 style="color: red;">{{errorMessage.error}}</h2>
        <form>
          <!-- Email input -->
          <div class="divider d-flex align-items-center my-4">
            <h2 class="text-center fw-bold mx-3 mb-0 text-muted">LOGIN</h2>
          </div>
          <div class="form-outline mb-4">
            <input type="text" id="form1Example13" class="form-control form-control-lg" placeholder="Username" [value]="user.username" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}"/>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="form1Example23" class="form-control form-control-lg" placeholder="Password" [value]="user.password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"/>
          </div>
          <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="OnLogin()">Sign in</button>

        </form>
      </div>
    </div>
  </div>
</section>