<mat-card>
  <mat-card-title>Fill Story Details</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="story.title">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="story.description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="story.status.statusId">
        <mat-option *ngFor="let status of statuses" [value]="status.statusId">{{status.statusId + ". " + status.statusName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="story.priority.priorityId">
        <mat-option *ngFor="let priority of priorities" [value]="priority.priorityId">{{priority.priorityId + ". " + priority.priorityLevel}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="story.type.storyTypeId">
        <mat-option *ngFor="let type of types" [value]="type.storyTypeId">{{type.storyTypeId + ". " + type.storyType}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-card-actions align="end">
      <button mat-stroked-button color="primary" (click)="createStoryFormSubmission()">
        Submit
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>