<app-sidebar></app-sidebar>
<div class="main-content">
  <div class="demo-table-container">
    <h1 class="team-name">{{team}} Dashboard</h1>
    <div class="example-button-container">
      <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon"
        [routerLink]="['/add']">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <mat-form-field class="filter">
      <mat-label>Filter</mat-label>
      <input matInput placeholder="Filter" [(ngModel)]="filterValue" (keyup)="Filterchange()">
    </mat-form-field>
    <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8 demo-table" [multiTemplateDataRows]="true">
      <!-- Position Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="storyId">Id</th>
        <td mat-cell *matCellDef="let story" id="story_id">{{story.storyId}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Title">
        <th mat-header-cell mat-sort-header="title" *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let story">{{story.title}}</td>
      </ng-container>

      <ng-container matColumnDef="Description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let story">{{story.description}}</td>
      </ng-container>

      <ng-container matColumnDef="Status">
        <th mat-header-cell mat-sort-header="status.statusName" *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let story">{{story.status.statusName}}</td>
      </ng-container>

      <ng-container matColumnDef="Priority">
        <th mat-header-cell mat-sort-header="priority.priorityLevel" *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let story">{{story.priority.priorityLevel}}</td>
      </ng-container>

      <ng-container matColumnDef="Story Type">
        <th mat-header-cell mat-sort-header="type.storyType" *matHeaderCellDef>Story Type</th>
        <td mat-cell *matCellDef="let story">{{story.type.storyType}}</td>
      </ng-container>

      <ng-container matColumnDef="Created On">
        <th mat-header-cell mat-sort-header="createdDate" *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let story">{{story.createdDate}}</td>
      </ng-container>

      <ng-container matColumnDef="Created By">
        <th mat-header-cell mat-sort-header="createdBy.username" *matHeaderCellDef>Created By</th>
        <td mat-cell *matCellDef="let story">{{story.createdBy.username}}</td>
      </ng-container>

      <ng-container matColumnDef="Assigned To">
        <th mat-header-cell mat-sort-header="assignedTo.username" *matHeaderCellDef>Assigned To</th>
        <td mat-cell *matCellDef="let story">{{story.assignedTo.username}}</td>
      </ng-container>

      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef>Update/Delete</th>
        <td mat-cell *matCellDef="let story">
          <div *ngIf="story.status.statusName == 'Completed'">
            <button mat-mini-fab aria-label="Example icon button with a update icon"
              [routerLink]="'update/'+story.storyId" class="update-delete-buttons" disabled>
              <mat-icon>create</mat-icon>
            </button>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon"
              (click)="deleteStory(story.storyId)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="story.status.statusName != 'Completed'">
            <button mat-mini-fab aria-label="Example icon button with a update icon"
              [routerLink]="'update/'+story.storyId" class="update-delete-buttons">
              <mat-icon>create</mat-icon>
            </button>
            <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon"
              (click)="deleteStory(story.storyId)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButton></mat-paginator>
  </div>
</div>